.about-bg-wrapper{
    width: 100%;
    height: 60vh;
    background-color: white;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
        color: #fff;
        font-weight: bold;
        font-size: calc(1rem + 2.5vw);
    }
    * {
        margin: 0;
        padding: 0;
      }
      
      html,
      body {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
      body {
        background-color: #021027;
      }
      
      .container {
        max-width: 100%!important;
        height: 100%;
        overflow: hidden;
        position: relative;
      }
      
      .background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      
       
      }
      
      .circle-container {
        $particleNum: 200;
        $particleColor: hsl(180, 100%, 80%);
      
        position: absolute;
        transform: translateY(-10vh);
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      
        .circle {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          mix-blend-mode: screen;
          background-image: radial-gradient(
            hsl(180, 100%, 80%),
            hsl(180, 100%, 80%) 10%,
            hsla(180, 100%, 80%, 0) 56%
          );
      
          animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
      
          @keyframes fade-frames {
            0% {
              opacity: 1;
            }
      
            50% {
              opacity: 0.7;
            }
      
            100% {
              opacity: 1;
            }
          }
      
          @keyframes scale-frames {
            0% {
              transform: scale3d(0.4, 0.4, 1);
            }
      
            50% {
              transform: scale3d(2.2, 2.2, 1);
            }
      
            100% {
              transform: scale3d(0.4, 0.4, 1);
            }
          }
        }
      
        $particleBaseSize: 8;
      
        
        @for $i from 1 through $particleNum {
          &:nth-child(#{$i}) {
            $circleSize: random($particleBaseSize);
            width: $circleSize + px;
            height: $circleSize + px;
      
            $startPositionY: random(10) + 100;
            $framesName: "move-frames-" + $i;
            $moveDuration: 28000 + random(9000) + ms;
      
            animation-name: #{$framesName};
            animation-duration: $moveDuration;
            animation-delay: random(37000) + ms;
      
            @keyframes #{$framesName} {
              from {
                transform: translate3d(
                  #{random(100) + vw},
                  #{$startPositionY + vh},
                  0
                );
              }
      
              to {
                transform: translate3d(
                  #{random(100) + vw},
                  #{- $startPositionY - random(30) + vh},
                  0
                );
              }
            }
      
            .circle {
              animation-delay: random(4000) + ms;
            }
          }
        }
      }
      
      .message {
        position: absolute;
        right: 20px;
        bottom: 10px;
        color: white;
        font-family: "Josefin Slab", serif;
        line-height: 27px;
        font-size: 18px;
        text-align: right;
        pointer-events: none;
        animation: message-frames 1.5s ease 5s forwards;
        opacity: 0;
        
        @keyframes message-frames {
          from {
            opacity: 0;
          }
          
          to {
            opacity: 1;
          }
        }
      }
      
}

@import "../gallery.scss";


// modal box

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);

  z-index: 1000;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
