.newsevents-landing-section{
    width: 100%;
    height: 60vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1{
        color: #fff;
        font-weight: bold;
        font-size: calc(1rem + 2.5vw);
    }
}

.news-section{
    width: 100%;
    height: auto;
    
    .inner-container{
       max-width: 1200px;
        height: auto;
        padding: 20px 0px;
        margin: 0 auto;
       
        .news-cards-parent{
            width: 100%;
            height: auto;
            padding: 20px 0px;
            .news-card-wrapper{
                width: 100%;
                height: 100%;
                background-color: white;
                box-shadow: 2px 5px 54px 0px rgba(0,0,0,0.1);
                -webkit-box-shadow: 2px 5px 54px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 2px 5px 54px 0px rgba(0,0,0,0.1);
                margin: 10px 0px;
                .img-area{
                    width: 100%;
                    height: 190px;
                    img{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
                .news-txt-area{
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    padding: 10px;
                    h5{
                        color: #0d405c;
                        font-weight: bold;
                    }
                    p{
                        margin: 0px;
                        color: #333;
                    }
                }
            }
        }
    }
}

.events-section{
    width: 100%;
    height: auto;
    padding: 40px 0px;
    .inner-container{
        max-width: 1200px;
        height: auto;
        padding: 20px 0px;
        .event-main-img-area{
            width: 100%;
            height: 100%;
            background-color: white;
            position: relative;
      
            .event-main-area{
                width: 100%;
                height: 100%;
             .carousel-item{
                 height: 100%!important;
             }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                p{
                    text-align: center;
                }
                .caption-container{
                    width: 100%;
                    height: auto;
                    background-color: #0d405c;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 10px;
                   
                    .caption{
                        color: #fff!important;
                        margin: 0px!important;
                    }
                    p{
                        text-align: left;
                        color: #fff;
                        margin: 10px 0px;
                    }
                }
                .event-main-txt-area{
                    width: 100%;
                    height: 100%;
                    background-color: rgba(13,64,92,.8);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    
                    padding: 15px;
                   
                    overflow-y: auto;
                    display: none;
                    transition: .5s;
                    p{
                        line-height: 1.8;
                        text-align: left;
                        color: #fff;
                    }
                }
            }
            // .event-main-area:hover .event-main-txt-area{
            //     display: block;
            //     transition: .5s;
            // }
       
           
        }
        .events-list-wrapper{
            width: 100%;
            height: 100%;
            padding: 10px;
            overflow-y: auto;
         
          
            .events-card{
                width: 100%;
                height: 130px;
                margin: 10px 0px;
                background-color: #fff;
                display: flex;
                box-shadow: 2px 5px 54px 0px rgba(0,0,0,0.1);
                -webkit-box-shadow: 2px 5px 54px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 2px 5px 54px 0px rgba(0,0,0,0.1);
                .img-area{
                    width: 40%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .event-card-txt-area{
                    width: 60%;
                    height: 100%;
                    padding: 10px;
                    p{
                        color: #333!important;
                    }
                    .pblish-date{
                        font-size: 15px;
                    }
                }
            }
        }
        .events-list-wrapper::-webkit-scrollbar {
            width: 5px;
            background-color: #0d405c;
            border-radius: 10px;
          }
          .events-list-wrapper::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: #6db94f;
            border-radius: 10px;
          }
    }
}


.main-events-section{
    width: 100%;
    height: auto;
    padding: 40px 0px;
    .inner-container{
        max-width: 1200px;
        height: auto;
        padding: 20px 0px;
        .event-sliding-img-wrapper{
            width: 100%;
            height: 400px;
            background-color: #0d405c;
            margin: 40px 0px;
            padding: 20px;
            box-shadow: -9px 10px 37px 0px rgba(0,0,0,0.39);
            -webkit-box-shadow: -9px 10px 37px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: -9px 10px 37px 0px rgba(0,0,0,0.39);
            .carousel-item{
                height: 100%!important;
                display: flex;
                justify-content: center!important;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
           
            
        }
        .event-information-txtarea{
            width: 100%;
            height: 400px;
            background-color: white;
            margin: 40px 0px;
          
            padding: 20px 30px;
            box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.39);
            -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.39);
overflow-y: auto;
                p{
                    line-height: 1.5;
                }
        }
    }
}





















.heading-page{
    text-align: center;
    font-size: calc(1rem + 2vw);
}
.heading-page::after{
    content: "";
    z-index: 100;
    display: block;
    margin: 16px auto;
    width: 80px;
    border-bottom: 2px solid #6db94f;
    
}
.sub-heading{
    font-size: calc(1rem + 1vw);
    padding: 20px 0px;
    margin-bottom: 0px;
    
   
}